body {
    font-family: Monospace;
    background-color: #fff;
    margin: 0px;
}

#one, #three {
   clear: left;
   float: left;
}

#two, #four {
   clear: right;
   float: right;
}

.cube-demo {
   border: 2px solid black;
   float: left;
   width: 800px;
   height: 800px;
   margin: 10px;
   background-color: #AAAAAA;
}